<launch>
  <include file="$(find bender_arm)/launch/r_arm_port.launch"/>
  <include file="$(find bender_arm)/launch/r_arm.launch"/>
  <node pkg="bender_arm" type="motor_monitor.py" name="r_arm_error_monitor" output="screen">
    <param name="monitor_type" value="error" />
    <param name="rate" value="10.0" />
    <rosparam param="motor_ids">[11,12,13,14,15,16]</rosparam>
    <rosparam param="motor_names">['sp', 'sr', 'sy', 'ep', 'ey', 'wp']</rosparam>
    <remap from="motor_states" to="/bender/motor_states/r_arm_port"/>
 </node>
 <node pkg="bender_arm" type="motor_monitor.py" name="r_arm_load_monitor" output="screen">
    <param name="monitor_type" value="load" />
    <param name="rate" value="10.0" />
    <rosparam param="motor_ids">[11,12,13,14,15,16]</rosparam>
    <rosparam param="motor_names">['sp', 'sr', 'sy', 'ep', 'ey', 'wp']</rosparam>
    <remap from="motor_states" to="/bender/motor_states/r_arm_port"/>
 </node>
</launch>