<launch>

	<!-- ================================================== -->
	<!-- ==================== PARAMETERS ================== -->
	<!-- ================================================== -->
	
	<!-- robot configuration -->
	<arg name="model_type"     default="standard"/>
	<arg name="language"       default="spanish"/>

	<!-- GUI -->
	<arg name="rviz"           default="true"/>
	<arg name="rqt_gui"        default="false"/>
	<arg name="show_subtitles" default="true"/> <!-- { english , spanish } -->

	<!-- robot simulation -->
	<arg name="robot"      default="real"/> <!-- { real, gazebo, stage } -->
	<arg name="worldname"  default="amtc"/>

	<!-- simulator specific parameters -->
	<arg name="gazebo_gui" default="true"/>


	<!-- ================================================== -->
	<!-- ==================== HARDWARE ==================== -->
	<!-- ================================================== -->

	<!-- Sound Player -->
	<include file="$(find bender_sound)/launch/sound.launch"/>

	<!-- TTS -->
	<include file="$(find bender_tts)/launch/tts.launch">
    	<arg name="language"       value="$(arg language)"/>
    	<arg name="show_subtitles" value="$(arg show_subtitles)"/>
	</include>
	

	<!-- =================================================== -->
	<!-- =================  VISUALIZATION  ================= -->
	<!-- =================================================== -->

	<!-- RVIZ -->
	<include file="$(find uchile_util)/launch/rviz.launch" if="$(arg rviz)"/>
	<!-- Batt -->
	<include file="$(find uchile_rqt_batteries)/launch/bender_batteries.launch"/>

</launch>
