<launch>

	<!-- ================================================== -->
	<!-- ==================== PARAMETERS ================== -->
	<!-- ================================================== -->
	
	<!-- robot configuration -->
	<arg name="model_type"     default="standard"/>
	<arg name="language"       default="spanish"/>

	<!-- GUI -->
	<arg name="rviz"           default="true"/>
	<arg name="rqt_gui"        default="false"/>
	<arg name="show_subtitles" default="true"/> <!-- { english , spanish } -->

	<!-- robot simulation -->
	<arg name="robot"      default="real"/> <!-- { real, gazebo, stage } -->
	<arg name="worldname"  default="amtc"/>

	<!-- simulator specific parameters -->
	<arg name="gazebo_gui" default="true"/>


	<!-- uchile_rqt_batteries -->
	
	<include file="$(find uchile_rqt_batteries)/launch/notebook_battery.launch">
		<arg name="name" value="vision"/>
	</include>



</launch>
