<launch>

	<!-- ================================================== -->
	<!-- ==================== PARAMETERS ================== -->
	<!-- ================================================== -->
	
	<!-- robot configuration -->
	<arg name="model_type"     default="light_head"/>
	<arg name="language"       default="spanish"/>

	<!-- GUI -->
	<arg name="rviz"           default="true"/>
	<arg name="rqt_gui"        default="false"/>
	<arg name="show_subtitles" default="true"/> <!-- { english , spanish } -->

	<!-- robot simulation -->
	<arg name="robot"      default="real"/> <!-- { real, gazebo, stage } -->
	<arg name="worldname"  default="amtc"/>

	<!-- simulator specific parameters -->
	<arg name="gazebo_gui" default="true"/>


	<!-- ================================================== -->
	<!-- ==================== HARDWARE ==================== -->
	<!-- ================================================== -->
	
	<!-- ================================= -->
	<!-- == REAL HARDWARE VS. SIMULATOR == -->
	<!-- ================================= -->
	<include file="$(find bender_core)/launch/robot/$(arg robot).xml">
		<arg name="gui"          value="$(arg gazebo_gui)"/>
		<arg name="rqt_gui"      value="$(arg rqt_gui)"/>
		<arg name="worldname"    value="$(arg worldname)"/>
		<arg name="model_type"   value="$(arg model_type)"/>
	</include>


	<!-- ================================== -->
	<!-- ==         COMMON STUFF         == -->
	<!-- ================================== -->

	<!-- Joystick -->
	<include file="$(find bender_joy)/launch/joysticks.launch"/>

	<!-- cmd_vel_mux -->
	<include file="$(find bender_cmd_vel_mux)/launch/mux.launch"/>

	<!-- robot laser self filter -->
	<include file="$(find bender_laser_pipeline)/launch/laser_pipeline.launch">
		<arg name="input_scan"  value="/bender/sensors/laser_front/scan"/>
		<arg name="output_scan" value="/bender/sensors/laser_front/scan_filtered"/>
	</include>

	<!-- footprint generator -->
	<!-- <include file="$(find bender_footprint_generator)/launch/footprint_generator.launch"/> -->


	
	<!-- =================================================== -->
	<!-- ==================== KNOWLEDGE ==================== -->
	<!-- =================================================== -->

	<!-- Pose Server -->
	<include file="$(find bender_pose_server)/launch/pose_server.launch"/>

	<!-- Mapper -->
	<include file="$(find bender_utils)/launch/mapper.launch"/>

</launch>
