<launch>
	
	<!-- visualization -->
	<arg name="rviz"       default="true"/>

	<!-- robot configuration -->
	<arg name="model_type"     default="light_head"/>
	<arg name="tf_gui"         default="false"/>
	<arg name="language"       default="spanish"/>
	
	<!-- available languages: { english , spanish } -->
	<arg name="show_subtitles" default="true"/>


	<!-- robot simulation -->
	<arg name="simulation" default="false"/>
	<arg name="sim_world"  default="amtc"/>
	<!-- TODO: <arg name="simulator"  default="gazebo"/> -->

	
	<include file="$(find bender_core)/launch/core_green.launch">
		<arg name="rviz" value="$(arg rviz)"/>
		<arg name="model_type" value="$(arg model_type)"/>
		<arg name="tf_gui" value="$(arg tf_gui)"/>
		<arg name="language" value="$(arg language)"/>
		<arg name="show_subtitles" value="$(arg show_subtitles)"/>
		<arg name="simulation" value="$(arg simulation)"/>
		<arg name="sim_world" value="$(arg sim_world)"/>
	</include>

	<include file="$(find bender_core)/launch/core_blue.launch">
		<arg name="rviz" value="$(arg rviz)"/>
		<arg name="model_type" value="$(arg model_type)"/>
		<arg name="tf_gui" value="$(arg tf_gui)"/>
		<arg name="language" value="$(arg language)"/>
		<arg name="show_subtitles" value="$(arg show_subtitles)"/>
		<arg name="simulation" value="$(arg simulation)"/>
		<arg name="sim_world" value="$(arg sim_world)"/>
	</include>

	<include file="$(find bender_core)/launch/core_green.launch">
		<arg name="rviz" value="$(arg rviz)"/>
		<arg name="model_type" value="$(arg model_type)"/>
		<arg name="tf_gui" value="$(arg tf_gui)"/>
		<arg name="language" value="$(arg language)"/>
		<arg name="show_subtitles" value="$(arg show_subtitles)"/>
		<arg name="simulation" value="$(arg simulation)"/>
		<arg name="sim_world" value="$(arg sim_world)"/>
	</include>



</launch>
