<launch>

	<arg name="simulation" default="false"/>
	<arg name="tf_gui"     default="false"/>
	<arg name="model_type" default="asus"/>
	<arg name="sim_world"  default="amtc"/>

	<group if="$(arg simulation)">
		<param name="/use_sim_time" value="true"/>
		<include file="$(find bender_stage)/launch/bender.launch">
			<arg name="worldname" default="$(arg sim_world)"/>
		</include>
		<!--include file="$(find bender_gazebo)/launch/bender_gazebo.launch"/-->
	</group>

	<!-- transforms -->
	<include file="$(find bender_tf)/launch/tf.launch">
		<arg name="use_gui" value="$(arg tf_gui)"/>
		<arg name="model_type" value="$(arg model_type)"/>
	</include>


	<!-- Joystick -->
	<include file="$(find bender_joy)/launch/joystick_nav.launch"/>


	<!-- Real hardware -->
	<group unless="$(arg simulation)">

		<!-- Laser/Lasers -->
		<include file="$(find bender_sensors)/launch/hokuyo/hokuyo_front.launch"/>
		<include file="$(find bender_sensors)/launch/hokuyo/hokuyo_rear.launch"/>

		<!-- Rosaria -->
		<include file="$(find bender_base)/launch/base.launch"/>

	</group>


	<!-- cmd_vel_mux -->
	<include file="$(find bender_cmd_vel_mux)/launch/mux.launch"/>

</launch>
