# Regla udev para los controladores de los motores dynamixel
# usados en los manipuladores (brazo izquierdo)


SUBSYSTEMS=="usb", KERNEL=="ttyUSB[0-9]*",SUBSYSTEM=="tty",ATTRS{serial}=="A9A9XRNN", SYMLINK+="bender/left_arm"
