# Regla udev para los controladores de los motores Dynamixel
# Puerto para cabeza (head_port)

SUBSYSTEMS=="usb", KERNEL=="ttyUSB[0-9]*", SUBSYSTEM=="tty",ATTRS{serial}=="A9I1TRRF", MODE="0660", GROUP="dialout", SYMLINK+="bender/head_port"
