# Regla udev para los controladores de los motores Dynamixel
# Puerto derecho (r_port)

SUBSYSTEMS=="usb", KERNEL=="ttyUSB[0-9]*",SUBSYSTEM=="tty",ATTRS{serial}=="A921PNVN", SYMLINK+="bender/l_port"
