<launch>
  
  <arg name="disble_torque" default="True" />
  
  <group ns="bender">
    <!-- r_arm low lovel config file -->
    <rosparam file="$(find bender_arm)/config/r_arm_controller.yaml" command="load"/>
    <!-- r_arm low lovel controller spawner -->
    <node name="r_arm_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
            args="--manager=r_port_manager
                  --port=r_port
                  r_shoulder_pitch_controller
                  r_shoulder_roll_controller
                  r_shoulder_yaw_controller
                  r_elbow_pitch_controller
                  r_elbow_yaw_controller
                  r_wrist_pitch_controller"
            output="screen"/>

    <!-- Follow joint trajectory action for r_arm config file -->
    <rosparam file="$(find bender_arm)/config/r_arm_trajectory.yaml" command="load"/>
    <!-- Spawn Follow joint trajectory action for r_arm -->
    <node name="r_arm_controller_spawner_meta" pkg="dynamixel_controllers" type="controller_spawner.py"
            args="--manager=r_port_manager
                  --type=meta
                  r_arm_controller
                  r_shoulder_pitch_controller
                  r_shoulder_roll_controller
                  r_shoulder_yaw_controller
                  r_elbow_pitch_controller
                  r_elbow_yaw_controller
                  r_wrist_pitch_controller"
            output="screen"/>
  </group>

</launch>