<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="bender_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="l1l_to_base_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l1l_to_base_link']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l2l_to_l1l">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l2l_to_l1l']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l3l_to_l2l">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l3l_to_l2l']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l4l_to_l3l">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l4l_to_l3l']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l5l_to_l4l">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l5l_to_l4l']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l6l_to_l5l">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l6l_to_l5l']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l1r_to_base_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l1r_to_base_link']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l2r_to_l1r">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l2r_to_l1r']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l3r_to_l2r">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l3r_to_l2r']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l4r_to_l3r">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l4r_to_l3r']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l5r_to_l4r">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l5r_to_l4r']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l6r_to_l5r">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l6r_to_l5r']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l1h_to_base_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l1h_to_base_link']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l2h_to_l1h">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l2h_to_l1h']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="g2la_to_g1l">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['g2la_to_g1l']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="g2lb_to_g1l">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['g2lb_to_g1l']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="g2ra_to_g1r">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['g2ra_to_g1r']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="g2rb_to_g1r">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['g2rb_to_g1r']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
