<launch>

	<arg name="pass"/>

	<!-- Instagram node -->
	<node name="instagram" pkg="uchile_fun" type="instagram.py" output="screen" >
		<param name="user" value="bender_uchile"/>
		<param name="password" value="$(arg pass)"/>
		<param name="instagram_path" value="$(env HOME)/instagram"/>
		<remap from="photo_upload" to="/bender/fun/instagram" />
	</node>
</launch>
