<launch>

  <arg name="disble_torque" default="True" />
  
  <group ns="bender">
    <!-- l_arm low lovel config file -->
    <rosparam file="$(find bender_arm)/config/l_arm_controller.yaml" command="load"/>
    <!-- l_arm low lovel controller spawner -->
    <node name="l_arm_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
            args="--manager=l_port_manager
                  --port=l_port
                  l_shoulder_pitch_controller
                  l_shoulder_roll_controller
                  l_shoulder_yaw_controller
                  l_elbow_pitch_controller
                  l_elbow_yaw_controller
                  l_wrist_pitch_controller"
            output="screen"/>

    <!-- Follow joint trajectory action for l_arm config file -->
    <rosparam file="$(find bender_arm)/config/l_arm_trajectory.yaml" command="load"/>
    <!-- Spawn Follow joint trajectory action for l_arm -->
    <node name="l_arm_controller_spawner_meta" pkg="dynamixel_controllers" type="controller_spawner.py"
            args="--manager=l_port_manager
                  --type=meta
                  l_arm_controller
                  l_shoulder_pitch_controller
                  l_shoulder_roll_controller
                  l_shoulder_yaw_controller
                  l_elbow_pitch_controller
                  l_elbow_yaw_controller
                  l_wrist_pitch_controller"
            output="screen"/>
  </group>

</launch>