
<launch>
  <arg name="use_arm" default="both" />

  <!-- MoveIt move_group --> 
  <include file="$(find bender_moveit_config)/launch/bender_moveit.launch">
    <arg name="use_gui" value="true"/>
    <arg name="use_arm" value="$(arg use_arm)" />
  </include>

  <!-- Capability Map file -->
  <param name="capmap_file" type="string" value="$(find bender_arm_planning)/database/cap_map.dat" />
  
  <!-- Capa de servicios de planning, integra para ambos brazos -->
  <node name="arm_planning" pkg="bender_arm" type="bender_planning" output="screen">
    <rosparam command="load" file="$(find bender_arm)/config/grasp_data.yaml"/>
  </node>

</launch>
