<launch>
  <arg name="disble_torque" default="True" />
  
  <group ns="bender">
    
    <node name="l_port_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
      <rosparam file="$(find bender_fieldbus)/config/l_port.yaml" command="load"/>
    </node>
    
  </group>

</launch>