<launch>

    <!-- available languages: { english , spanish } -->
    <arg name="language" default="english"/>
    <arg name="show_subtitles" default="true"/>

    <!-- sound_play node for tts -->
    <!--
        this node is keept hidden from the system, by placing it
        under the /bender/hw/tts namespace
    -->
    <arg name="soundplay_name" value="sound_play"/>
    <node name="$(arg soundplay_name)" pkg="sound_play" type="soundplay_node.py" ns="/bender/hw/tts">
        <remap from="/diagnostics" to="$(arg soundplay_name)/diagnostics"/>
        <remap from="robotsound"   to="$(arg soundplay_name)/robotsound"/>
    </node>

    
    <!-- text to speech node -->
    <node name="tts" pkg="bender_tts" type="tts" ns="/bender/hw">
        <param name="language" value="$(arg language)"/>
        <param name="sound_play_node_name" value="$(arg soundplay_name)"/>

        <!-- sound_play node remappings -->
        <remap from="robotsound"   to="tts/$(arg soundplay_name)/robotsound"/>
        <remap from="~diagnostics" to="tts/$(arg soundplay_name)/diagnostics"/>    
    </node>


    <!-- subtitles -->
    <include file="$(find bender_gui_subtitles)/launch/subtitles.launch" if="$(arg show_subtitles)"
        ns="/bender/hw/tts">
        <arg name="text_source" default="/bender/hw/tts/text"/>
    </include>

</launch>
