<launch>
	
	<arg name="name" default="mapper"/>
	<arg name="cfg_yaml" default="mapper.yaml"/>

<!-- 	<node pkg="uchile_util" type="mapper.py" name="$(arg name)" ns="/bender/utils/">
		<rosparam file="$(find uchile_util)/config/mapper/$(arg cfg_yaml)"/>
	</node>
 -->
   <rosparam file="$(find uchile_util)/config/mapper/$(arg cfg_yaml)" command="load" />

 	<!-- rosparam load $(find uchile_util)/config/mapper/$(arg cfg_yaml) -->
</launch>