<?xml version="1.0"?>
<robot name="sensor_asus_xtion_pro" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <!-- Xacro properties -->
  <xacro:property name="M_SCALE" value="0.001"/>
  <xacro:property name="asus_xtion_pro_depth_rel_rgb_py" value="0.0270" />
  <xacro:property name="asus_xtion_pro_cam_rel_rgb_py"   value="-0.0220" />

  
  <xacro:macro name="sensor_asus_xtion_pro" params="prefix name parent ns">
    <joint name="${name}_camera_joint" type="fixed">
      <origin xyz="0.1 0 0.04" 
              rpy="0 0 0"/>
      <parent link="${parent}"/>
      <child link="${prefix}${name}_link" />
    </joint>
    
    <link name="${prefix}${name}_link">
      <visual>
        <origin xyz="-0.01 0 0" rpy="${-M_PI/2} -${M_PI} ${-M_PI/2}"/>
        <geometry>
          <mesh filename="package://bender_description/meshes/sensors/asus_xtion_pro_live.dae" scale="${M_SCALE} ${M_SCALE} ${M_SCALE}"/>
        </geometry>
        <material name="Grey2" />
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <box size="0.05 0.20 0.05"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.170" />
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <cuboid_inertia_def x="0.05" y="0.2" z="0.05" mass="0.170"/>
      </inertial>
    </link>
    
    <joint name="${name}_camera_rgb_joint" type="fixed">
      <origin xyz="0 ${-asus_xtion_pro_cam_rel_rgb_py} 0" 
              rpy="0 0 0"/>
      <parent link="${prefix}${name}_link"/>
      <child link="${prefix}${name}_rgb_frame"/>
    </joint>
    <link name="${prefix}${name}_rgb_frame"/>
    
    <joint name="${name}_camera_rgb_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
      <parent link="${prefix}${name}_rgb_frame" />
      <child link="${prefix}${name}_rgb_optical_frame" />
    </joint>
    <link name="${prefix}${name}_rgb_optical_frame"/>

    <joint name="${name}_camera_depth_joint" type="fixed">
      <origin xyz="0 ${asus_xtion_pro_depth_rel_rgb_py} 0" rpy="0 0 0" />
      <parent link="${prefix}${name}_rgb_frame" />
      <child link="${prefix}${name}_depth_frame" />
    </joint>
    <link name="${prefix}${name}_depth_frame"/>

    <joint name="${name}_camera_depth_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
      <parent link="${prefix}${name}_depth_frame" />
      <child link="${prefix}${name}_depth_optical_frame" />
    </joint>
    <link name="${prefix}${name}_depth_optical_frame"/>

    <!-- Camera depth Gazebo -->
    <xacro:sim_depth_camera name="${name}" frame="${prefix}${name}_depth" ns="${ns}"/>

  </xacro:macro>
</robot>
