<?xml version="1.0"?>
<robot
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="bender_calibration">
  
  <!-- Normally all in 0.0 -->
  <!-- Left Arm -->
  <!-- Joint offset parameters for l_arm_base -->
  <xacro:property name="l_x" value="0.0" />
  <xacro:property name="l_y" value="0.0" />
  <xacro:property name="l_z" value="0.0" />
  <xacro:property name="l_r" value="0.0" />
  <xacro:property name="l_p" value="0.0" />
  <xacro:property name="l_y" value="0.0" />

  <!-- Right Arm -->
  <!-- Joint offset parameters for r_arm_base -->
  <xacro:property name="r_x" value="0.0" />
  <xacro:property name="r_y" value="0.0" />
  <xacro:property name="r_z" value="0.0" />
  <xacro:property name="r_r" value="0.0" />
  <xacro:property name="r_p" value="0.0" />
  <xacro:property name="r_y" value="0.0" />
  
</robot>
