<?xml version="1.0"?>
<robot
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="dynamixel">

  <!-- Max torque estimation -->
  <xacro:property name="voltage_supply" value="15.5" />
  <!-- Torque/voltage relation from dynamixel_driver (this relation only works for stall torque) -->
  <xacro:property name="rx28_torque"  value="${3.7/18.5 * voltage_supply}"/>
  <xacro:property name="rx64_torque"  value="${5.3/18.5 * voltage_supply}"/>
  <xacro:property name="mx106_torque" value="${8.4/12.0 * voltage_supply}"/>
  <!-- Friction model from "Characterization and modeling of a Dynamixel servo" by Arno Mensin (model AX12, better than nothing) -->
  <!-- Damping N.m.s/rad --> 
  <xacro:property name="dxl_damping" value="0.15" />
  <!-- Friccion N.m -->
  <xacro:property name="dxl_friction" value="0.3" />
  
</robot>