<?xml version="1.0"?>
<robot name="laser_sensor" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:macro name="laser_sensor" params="parent name xyz rpy ns prefix">
    <joint name="${name}_joint" type="fixed">
      <axis xyz="0 1 0" />
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent}"/>
      <child link="${prefix}${name}_link"/>
    </joint>

    <!-- Hokuyo Laser -->
    <link name="${prefix}${name}_link">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.1 0.1 0.1"/>
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://bender_description/meshes/sensors/hokuyo.dae"/>
        </geometry>
        <material
          name="">
          <color
            rgba="0.1 0.1 0.1 1" />
        </material>
      </visual>
      <xacro:cuboid_inertia_def x="0.05" y="0.05" z="0.05" mass="0.3"/>
    </link> 
    <!-- Gazebo Sim -->
    <xacro:laser_sensor_sim frame="${prefix}${name}_link" name="${name}" ns="${ns}" />
  </xacro:macro>

</robot>
