<launch>

	<arg name="use_gui" default="false"/>
	<arg name="model_type" default="asus"/>

	<!-- transform tree from model -->
	<include file="$(find bender_tf)/launch/tf_model.launch">
		<arg name="use_gui" value="$(arg use_gui)"/>
		<arg name="model_type" value="$(arg model_type)"/>
	</include>

	<!-- static transform tree -->
	<include file="$(find bender_tf)/launch/bender_static_tf.launch"/>

	<!-- /odom   < - - -  /bender/base_link  -->
  	<!--node name="pioneer_tf" pkg="bender_tf" type="pioneer_tf" ns="/bender/tf/"/-->

	<!-- transformers -->
	<include file="$(find bender_tf)/launch/transformers.launch"/>

</launch>