<launch>
  <arg name="use_gui" default="true" />
  <arg name="model_type" default="standard" />

  <!-- Cargar modelo con TF-->
  <include file="$(find uchile_tf)/launch/tf_model.launch">
    <arg name="use_gui" value="$(arg use_gui)" />
    <arg name="model_type" value="$(arg model_type)" />
  </include>

  <!-- Abrir RViz con modelo de robot -->
  <node if="$(arg use_gui)" name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find bender_description)/config/bender_display.rviz"/>
  
</launch>