<launch>

  <arg name="disble_torque" default="True" />
  
  <group ns="bender">
    <!-- l_gripper low lovel config file -->
    <rosparam file="$(find bender_gripper)/config/l_gripper_controller.yaml" command="load"/>
    <!-- l_gripper low lovel controller spawner -->
    <node name="l_gripper_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
        args="--manager=l_port_manager
              --port=l_port
              l_int_finger_controller
              l_ext_finger_controller"
        output="screen"/>

    <!-- Gripper Action for l_gripper config file -->
    <rosparam file="$(find bender_gripper)/config/l_gripper_action.yaml" command="load"/>
    <!-- Spawn Gripper Action for l_gripper -->
    <node name="l_gripper_controller_spawner_meta" pkg="dynamixel_controllers" type="controller_spawner.py"
            args="--manager=l_port_manager
                  --type=meta
                  l_gripper_controller
                  l_int_finger_controller
                  l_ext_finger_controller"
            output="screen"/>
  </group>

</launch>