
database/
src/bender_fun/BenderVaders/data/
src/bender_fun/SwervinMervin/dat/
src/bender_fun/SwervinMervin/lib
src/bender_fun/SwervinMervin/swervin_mervin/levels/


# common package files
# -------------------------------------------
*~
*.pyc
*.cproject
*.project
*.pydevproject
*.bag
*.log


# compressed files
# -------------------------------------------
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.deb


