<launch>
    <!-- RQT Battery perspective -->
    <node name="bender_dashboard" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find rqt_batteries)/config/bender_dashboard.perspective">
        <rosparam file="$(find rqt_batteries)/config/bender_batteries.yaml" command="load" />
    </node>
</launch>