<launch>

	<arg name="usar_doble_hokuyo" default="true"/>


	<!-- HOKUYO #1 -->
	<!-- laser_front -->
	<include file="$(find bender_sensors)/launch/hokuyo/hokuyo_front.launch"/>


	<!-- HOKUYO #2 -->
	<group if="$(arg usar_doble_hokuyo)">
		
		<!-- laser_rear -->
		<include file="$(find bender_sensors)/launch/hokuyo/hokuyo_rear.launch"/>		

	</group>

</launch>
