# Regla udev para los controladores de los motores Dynamixel
# Brazo derecho (r_arm)

SUBSYSTEMS=="usb", KERNEL=="ttyUSB[0-9]*",SUBSYSTEM=="tty",ATTRS{serial}=="A921PNVN", SYMLINK+="bender/r_arm"
