<?xml version="1.0"?>
<robot
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="torso">

  <xacro:macro name="torso" params="prefix parent">
    <!-- Lower torso  -->
    <link
      name="${prefix}lower_torso_base">
      <inertial>
        <origin
          xyz="0 0 0.22393"
          rpy="0 0 0" />
        <mass
          value="4.7757" />
        <inertia
          ixx="0.1401"
          ixy="1.6841E-17"
          ixz="-8.3929E-09"
          iyy="0.11103"
          iyz="-6.9389E-18"
          izz="0.12009" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="${-M_PI/2} 0 0" />
        <geometry>
          <mesh
            filename="package://bender_description/meshes/visual/lower_torso.dae" />
        </geometry>
        <material name="Grey3" />
      </visual>
      <collision>
        <origin
          xyz="0 0 0.325"
          rpy="0 0 0" />
        <geometry>
          <box size="0.25 0.20 0.25"/>
        </geometry>
      </collision>
      <collision>
        <origin
          xyz="0 0 0.1"
          rpy="0 0 0" />
        <geometry>
          <box size="0.25 0.40 0.2"/>
        </geometry>
      </collision>
    </link>
    <joint
      name="lower_torso_mount_fixed_joint"
      type="fixed">
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <parent
        link="${parent}" />
      <child
        link="${prefix}lower_torso_base" />
      <axis
        xyz="0 0 0" />
    </joint>
    
    <link
      name="${prefix}lower_torso_cal" />
    <joint
      name="lower_torso_cal_fixed_joint"
      type="fixed">
      <origin
        xyz="0.12 0 0.45"
        rpy="0 0 0" />
      <parent
        link="${prefix}lower_torso_base" />
      <child
        link="${prefix}lower_torso_cal" />
      <axis
        xyz="0 0 0" />
    </joint>


    <!-- Upper torso -->
    <link
      name="${prefix}upper_torso_base">
      <inertial>
        <origin
          xyz="0 0 0.45737"
          rpy="0 0 0" />
        <mass
          value="8.3818" />
        <inertia
          ixx="0.37573"
          ixy="3.6429E-06"
          ixz="0.0078214"
          iyy="0.32364"
          iyz="5.0469E-06"
          izz="0.093574" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="${-M_PI/2} 0 0" />
        <geometry>
          <mesh
            filename="package://bender_description/meshes/visual/upper_torso.dae" />
        </geometry>
        <material name="Grey3" />
      </visual>
      <collision>
        <origin
          xyz="0 0 0.15"
          rpy="0 0 0" />
        <geometry>
          <box size="0.25 0.20 0.30"/>
        </geometry>
      </collision>
      <collision>
        <origin
          xyz="0 0 0.52"
          rpy="0 0 0" />
        <geometry>
          <box size="0.25 0.30 0.44"/>
        </geometry>
      </collision>
      <collision>
        <origin
          xyz="0 -0.18 0.62"
          rpy="0 0 0" />
        <geometry>
          <box size="0.20 0.08 0.20"/>
        </geometry>
      </collision>
      <collision>
        <origin
          xyz="0 0.18 0.62"
          rpy="0 0 0" />
        <geometry>
          <box size="0.20 0.08 0.20"/>
        </geometry>
      </collision>
    </link>
    <joint
      name="upper_torso_mount_fixed_joint"
      type="fixed">
      <!-- CALIBRATION Z 0.45 => 33.3 -->
      <origin
        xyz="0 0 0.333" 
        rpy="0 0 0" />
      <parent
        link="${prefix}lower_torso_base" />
      <child
        link="${prefix}upper_torso_base" />
      <axis
        xyz="0 0 0" />
    </joint>
    
    <link
      name="${prefix}r_arm_mount" />
    <joint
      name="r_arm_mount_fixed_joint"
      type="fixed">
      <!-- CALIBRATION Y -0.225 => -0.23 -->
      <!-- CALIBRATION Z 0.619 => 0.610 -->
      <origin
        xyz="-0.005 -0.23 0.610"
        rpy="0 0 0" />
      <parent
        link="${prefix}upper_torso_base" />
      <child
        link="${prefix}r_arm_mount" />
      <axis
        xyz="0 0 0" />
    </joint>

    <link
      name="${prefix}l_arm_mount" />
    <joint
      name="l_arm_mount_fixed_joint"
      type="fixed">
      <!-- CALIBRATION Y 0.225 => 0.23 -->
      <!-- CALIBRATION Z 0.619 => 0.610 -->
      <origin
        xyz="-0.005 0.23 0.610"
        rpy="0 0 0" />
      <parent
        link="${prefix}upper_torso_base" />
      <child
        link="${prefix}l_arm_mount" />
      <axis
        xyz="0 0 0" />
    </joint>
    
    <link
      name="${prefix}neck_base" />
    <joint
      name="neck_base_fixed_joint"
      type="fixed">
      <!-- CALIBRATION Z 0.724 => 0.733 -->
      <origin
        xyz="-0.005 0 0.733"
        rpy="0 0 0" />

      <parent
        link="${prefix}upper_torso_base" />
      <child
        link="${prefix}neck_base" />
      <axis
        xyz="0 0 0" />
    </joint>
    
    <link
      name="${prefix}waist_base" />
    <joint
      name="waist_base_fixed_joint"
      type="fixed">
      <origin
        xyz="0.15 0 0.304"
        rpy="0 0 0" />
      <parent
        link="${prefix}upper_torso_base" />
      <child
        link="${prefix}waist_base" />
      <axis
        xyz="0 0 0" />
    </joint>

  </xacro:macro>

</robot>