<launch>

	<arg name="asus_scan" default="false"/>

	<group if="$(arg asus_scan)">
		<include file="$(find uchile_perception_utils)/point_filters/pointcloud_to_laserscan/launch/pointcloud_to_laserscan.launch"/>

		<node pkg="uchile_safety" type="low_level_asus_safety_control.py" name="low_level_safety_control" respawn="true" respawn_delay="1"/>
	</group>

	<node unless="$(arg asus_scan)" pkg="uchile_safety" type="low_level_safety_control.py" name="low_level_safety_control" respawn="true" respawn_delay="1"/>
</launch>