<launch>

  <!-- Depth Image to Laser Scan Node -->
  <node name="pointcloud_to_laserscan" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" args="">

    <remap from="cloud_in"   to="/select_pub"/> <!-- change here for your camera depth topic name. Default: "/camera/depth/image_raw" -->
    <remap from="scan"       to="/z_objects_laserscan"/> 
    <!-- the remap for camera_info by default uses the same path as the one given to the image topic. Default: "<path_to_image_topic>/camera_info>" -->

    <!-- PARAMETERS: -->
    <!-- These are the default values. --> 
    <param name="min_height"     type="double"    value="-2.0"/> <!-- default: 1 pixel. Number of pixel rows used to generate laser scan. -->
    <param name="max_height"       type="double" value="2.0"/> <!-- default:0.033, 30 FPS . Time between scans. -->
    <param name="angle_min"       type="double" value="-1.5"/> <!--default:0.45m. Ranges less than this are considered -Inf. -->
    <param name="angle_max"       type="double" value="1.5"/> <!--default: 10m. Ranges less than this are considered +Inf. -->
    <param name="angle_increment"     type="double"    value="0.008"/> <!-- default: 1 pixel. Number of pixel rows used to generate laser scan. -->
    <param name="scan_time"       type="double" value="0.033"/> <!-- default:0.033, 30 FPS . Time between scans. -->
    <param name="range_min"       type="double" value="0.45"/> <!--default:0.45m. Ranges less than this are considered -Inf. -->
    <param name="range_max"       type="double" value="4.0"/> <!--default: 10m. Ranges less than this are considered +Inf. -->
    <param name="target_frame"     type="str"    value="none"/> <!-- default: 1 pixel. Number of pixel rows used to generate laser scan. -->
    <param name="concurrency_level"       type="int" value="1"/> <!-- default:0.033, 30 FPS . Time between scans. -->
    <param name="use_inf"       type="boolean" value="true"/> <!--default:0.45m. Ranges less than this are considered -Inf. -->
 
    <param name="target_frame" type="str"    value="camera_depth_frame"/> <!--default: camera_depth_frame. Frame id of the laser scan. -->
	
  </node>
	
</launch>