<launch>
	<node pkg="laser_filters" type="scan_to_scan_filter_chain"
	name="laser_filter">
		<rosparam command="load" file="$(find bender_laser_pipeline)/config/pipeline.yaml" />

		<!-- incomming scan -->
		<remap from="scan" to="/bender/sensors/laser_front/scan" />

		<!-- output scan -->
		<remap from="scan_filtered" to="filtered" />

	</node>
</launch>