<launch>
  <arg name="model" />
  <arg name="gui" default="False" />
  <param name="robot_description" textfile="$(find bender_description)/urdf/novabot.urdf" />
  <param name="robot_description_semantic" textfile="$(find bender_description)/urdf/novabot.urdf"/>
  <param name="use_gui" value="$(arg gui)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/novabot/joint_states" />
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bender_description)/urdf.rviz" />
</launch>