
<launch>

	<!--
	Test the dynamic reconfiguration of the cmd_vel_mux. Run this after running the example launcher.
	-->
	<node name="$(anon dynparam)" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters uchile_cmd_vel_mux">
		<param name="yaml_cfg_file" type="string" value="$(find uchile_cmd_vel_mux)/param/reconfigure.yaml" />
	</node>

</launch>