<launch>

  <!-- - - - - - - -  REAL Parameters - - - - - - - -->

  <!-- Gazebo GUI -->
  <arg name="gui" default="true"/>

  <!-- RQT GUI for control base and arms -->
  <arg name="rqt_gui" default="false" />

  <!-- Map -->
  <arg name="worldname" default="empty" />

  <!-- Bender model type -->
  <arg name="model_type" default="standard" />


  <!-- - - - - - - -  USEFUL Parameters - - - - - - - -->

  <!-- Publish /clock -->
  <arg name="use_sim_time" value="true"/>

  <!-- Prefix for link and Gazebo sensor topics -->
  <!-- ros_control doesnt support! @TODO -->
  <arg name="prefix" default="bender/" />

  <!-- - - - - - - -  NODES - - - - - - - -->
  <!-- remap laser scans that need further processing by the laser pipeline -->
  <remap from="/bender/sensors/laser_front/scan" to="/bender/sensors/laser_front/scan_gazebo" />
  <remap from="/bender/sensors/laser_rear/scan" to="/bender/sensors/laser_rear/scan_gazebo" />

  <!-- Load joint names and constants from YAML file to parameter server -->
  <rosparam file="$(find bender_description)/config/constants.yaml" command="load"/>

  <!-- Use simulation time -->
  <param name="use_sim_time" value="$(arg use_sim_time)" />

  <!-- Launch Gazebo with empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find bender_gazebo)/worlds/$(arg worldname).world"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>
  
  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model bender_model -param robot_description">
  </node>

  <!-- Effort Trajectory controllers, launch in another console -->
  <include file="$(find bender_gazebo)/launch/bender_control.launch.xml">
    <arg name="model_type" value="$(arg model_type)" />
  </include>
  
  <!-- RQT Control perspective -->
  <node if="$(arg rqt_gui)" name="rqt_command" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find bender_gazebo)/config/control.perspective"/>

  <!-- Laser limiter pipeline -->
  <include file="$(find bender_gazebo)/launch/laser_limiters.launch.xml"/>
  
</launch>
