<launch>

  <!-- Object parameters -->
  <arg name="object" default="ball" /> <!-- Available: ball, cylinder, person (URDF saved at urdf folder)-->
  <arg name="world" default="gazebo" />
  <arg name="x" default="1.0" /> <!-- x initial position -->
  <arg name="y" default="0" /> <!-- y initial position -->
  <arg name="key_teleop" default="false" /> <!-- Use keyboard teleop -->
  
  <!-- Load object URDF -->
  <param name="$(arg object)_description" 
    command="$(find xacro)/xacro.py '$(find bender_gazebo)/urdf/$(arg object).urdf.xacro'" />

  <!-- Spawn URDF in Gazebo -->
  <node name="spawn_object" pkg="gazebo_ros" type="spawn_model"
    args="-param $(arg object)_description
    -urdf
    -x $(arg x)
    -y $(arg y)
    -z 0
    -model $(arg object)
    -gazebo_namespace /$(arg world)"
    respawn="false" output="screen">
  </node>

  <!-- Launch keyboard teleoperation node -->
  <node if="$(arg key_teleop)" launch-prefix="xterm -T 'Controllable object' -e" name="object_teleop" pkg="bender_gazebo" type="teleop_twist_keyboard.py" >
    <remap from="cmd_vel" to="$(arg object)/cmd_vel"/>
  </node>

</launch>
