<launch>

    <!-- sound play -->
    <node name="sound_play" pkg="sound_play" type="soundplay_node.py" ns="/bender/hw/sound">
        <remap from="/diagnostics" to="diagnostics"/>
    </node>

    <!-- sound player -->
    <node name="sound" pkg="bender_sound" type="player" ns="/bender/hw/">
        <remap from="robotsound" to="~robotsound"/>
        <param name="sound_path" value="$(find bender_db)/sounds/"/>
    </node>

</launch>
