<launch>
  <arg name="use_gui" default="true" />
  <arg name="model_type" default="standard" />

  <!-- Load robot model -->
  <include file="$(find uchile_tf)/launch/tf_model.launch">
    <arg name="use_gui" value="$(arg use_gui)" />
    <arg name="model_type" value="$(arg model_type)" />
    <arg name="use_dynamic_tf" default="true" />
  </include>

  <!-- Save calibration file at ctrl+c -->
  <node name="save_calibration" pkg="uchile_tf" type="save_calibration" output="screen" />

  <!-- Open RViz with robot model -->
  <node if="$(arg use_gui)" name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find bender_description)/config/bender_display.rviz"/>

  <!-- RQT for calibration -->
  <node name="rqt_calibration" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find uchile_tf)/config/calibration.perspective"/>
  
</launch>