<launch>

	<arg name="use_gui" default="false"/>
	<arg name="model_type" default="standard"/>
	<arg name="joints_already_published" default="false" />

	<!-- transform tree from model -->
	<include file="$(find uchile_tf)/launch/tf_model.launch">
		<arg name="use_gui" value="$(arg use_gui)"/>
		<arg name="model_type" value="$(arg model_type)"/>
		<arg name="joints_already_published" value="$(arg joints_already_published)" />
	</include>

	<!-- static transform tree -->
	<include file="$(find uchile_tf)/launch/bender_static_tf.launch"/>

	<!-- transformers -->
	<include file="$(find uchile_tf)/launch/transformers.launch"/>

</launch>