<launch>

  <arg name="prefix" default="bender/" />
  <arg name="use_gui" default="false"  />
  <arg name="rate" default="40" />
  <arg name="model_type" default="standard" />
  <arg name="use_dynamic_tf" default="true" />
  <arg name="joints_already_published" default="false" />
  

  <!-- Load robot model -->
  <include file="$(find bender_description)/launch/load_robot_description.launch">
    <!-- Prefix parameters for links -->
    <arg name="prefix" value="$(arg prefix)" />
    <arg name="model_type" value="$(arg model_type)" />
  </include>

  <!-- Crear TF a partir de joint states 
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" ns="/bender/">
    <param name="publish_frequency" value="$(arg rate)" />
  </node>
  -->

  <!-- Robot state publisher -->
  <!-- DEPRECATE? consultar rorro -->
  <node unless="$(arg use_dynamic_tf)" name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" ns="/bender/">
    <param name="publish_frequency" value="$(arg rate)" />
  </node>

  <group if="$(arg use_dynamic_tf)">
    <!-- Dynamic robot state publisher allows to modify fixed frames of the robot at runtime -->
    <node name="dyn_state_publisher" pkg="uchile_tf" type="dyn_state_publisher" ns="/bender/" output="screen">
      <param name="publish_frequency" value="$(arg rate)" />
    </node>
    <!-- Load calibration file -->
    <node name="load_calibration" pkg="uchile_tf" type="load_calibration" output="screen" />
  </group>
  

  <!-- Group joint states -->
  <!-- Gazebo already published the complete joint state set of messages, so we provide a way to prevent duplication. -->
  <node unless="$(arg joints_already_published)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="$(arg use_gui)" />
    <param name="rate" value="$(arg rate)" />
    <rosparam param="source_list">
      ['bender/r_arm/joint_states',
      'bender/r_gripper/joint_states',
      'bender/l_arm/joint_states',
      'bender/l_gripper/joint_states',
      'bender/head/joint_states',
      'bender/light_head/joint_states']</rosparam>
    <remap from="joint_states" to="bender/joint_states"/>
  </node>

</launch>
