<launch>
	
	<node name="serial_node"        pkg="rosserial_python"      type="serial_node.py">
    <param name="port"              type="string"               value="/dev/ttyUSB0"/>
    <param name="baud"              type="int"                  value="57600"/>
    </node>

  <node name="joy_node"        pkg="joy"      type="joy_node">
    </node>
  
  <node name="Face_joy"        pkg="bender_head"      type="face_joy_controll.py">
    </node>

</launch>