<launch>

	<!-- parameters -->
	<arg name="joy_number" default="0"/>
	
	<!-- driver: joy node -->
	<include file="$(find bender_joy)/launch/common/driver.launch">
		<arg name="joy_number" value="$(arg joy_number)"/>
	</include>
	
	<!-- controller: joystick -->
	<include file="$(find bender_joy)/launch/common/joystick.launch">
	 	<arg name="joy_number" value="$(arg joy_number)"/>
	</include>

</launch>
