<launch>

    <!-- parameters -->
    <arg name="ns" default="/bender/joy"/>

    <!-- driver -->
    <include file="$(find bender_joy)/launch/common/driver.launch">
        <arg name="ns" value="$(arg ns)"/>
    </include>

    <!-- joy interfaces -->
<!--     <include file="$(find bender_joy)/launch/common/joy_interface.launch">
        <arg name="ns" value="$(arg ns)"/>
    </include>
 -->    
</launch>
