<launch>

  <!-- parameters -->
  <arg name="joy_number" default="0"/>

  <!-- Joystick complete -->
  <node pkg="bender_joy" type="joystick" name="joystick$(arg joy_number)" output="screen" ns="/bender/joy/">
    <rosparam file="$(find bender_joy)/config/joystick.yaml" command="load"/>
    <remap from="joystick$(arg joy_number)/joy" to="/bender/joy/driver$(arg joy_number)"/>
  </node>

</launch>
