<?xml version="1.0"?>
<robot
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="bender">
  <!-- Prefix for Bender links -->
  <xacro:property name="prefix" value="$(arg prefix)" />

  <!-- Parameters -->
  <xacro:include filename="$(find bender_description)/urdf/common.xacro" />
  <!-- URDF Materials -->
  <xacro:include filename="$(find bender_description)/urdf/materials.urdf.xacro" />
  <!-- Gazebo macros -->
  <xacro:include filename="$(find bender_description)/urdf/gazebo.urdf.xacro" />
  <!-- Calibration parameters, used for arms in body.urdf.xacro -->
  <xacro:include filename="$(find bender_description)/urdf/calibration.xacro" />
  <!-- Dynamixel parameters -->
  <xacro:include filename="$(find bender_description)/urdf/dynamixel.xacro" />

  <!-- ******** Bender Parts ******** -->
  
  <!-- Bender Body -->
  <xacro:include filename="$(find bender_description)/urdf/base.urdf.xacro" />
  <xacro:base prefix="${prefix}" />
  
  <!-- Hokuyo sensors -->
  <xacro:include filename="$(find bender_description)/urdf/laser_sensor.xacro" />
  <xacro:laser_utm_30lx parent="${prefix}base_link" name="laser_front" prefix="${prefix}sensors/" xyz="0.22 0.0 0.22"  rpy="0.0 0.0 0.0" ns="${prefix}sensors/laser_front"/>
  <xacro:laser_urg_04lx parent="${prefix}base_link" name="laser_rear"  prefix="${prefix}sensors/" xyz="-0.22 0.0 0.09" rpy="0.0 ${M_PI} 0.0" ns="${prefix}sensors/laser_rear" />

  <!-- ROS Controllers -->
  <xacro:ros_control prefix="${prefix}" />

</robot>
