<launch>

	<!-- Port -->
	<arg name="port" default="/dev/bender/turning_base"/>

	<!-- bender turning base -->
	<node name="turning_base_node" pkg="rosserial_python" type="serial_node.py" args="$(arg port)" output="screen"/>

	<!-- bender test turning base -->
	<!-- <node name="turning_base_test" pkg="uchile_turning_base" type="test_base.py" output="screen"/> -->


</launch>
