<launch>


  <!-- available languages: { english , spanish } -->
  <include file="$(find bender_speech)/launch/synthesizer.launch">
  	<arg name="language" value="spanish"/>
  </include>

  <!-- C A R I T A S -->
  <include file="$(find bender_head)/launch/head.launch"/>

  <!-- Rosaria - - >
  < ! - - include file="$(find bender_base)/launch/base.launch"/>

  < ! - - cmd_vel_mux - - >
  <include file="$(find bender_cmd_vel_mux)/launch/mux.launch"/-->

</launch>
