<launch>

	<!-- avaiable devices
	  You can see the list with the available device id's on
	'install/depth_devices.sh' (in this pkg).
	 -->

	<!-- Openni for head kinect -->
	<include file="$(find bender_sensors)/launch/rgbd/kinect/kinect.launch">
		<arg name="kinect_name" value="rgbd_head"                   />
		<arg name="device_id"   value="$(env BENDER_KINECT_HEAD_ID)"/>
	</include>

</launch>
