<launch>

	<!-- Calibration for ASUS head rgb camera-->

	<!-- ASUS head launch -->
	<arg name="calibrated" value="false"/>

	<include file="$(find bender_sensors)/launch/rgbd/rgbd_head.launch">
		<arg name="calibrated" 	value="$(arg calibrated)"/>
	</include>

	<arg name="image" default="bender/sensors/rgbd_head/rgb/image_raw"/>
	<arg name="camera" default="bender/sensors/rgbd_head/rgb"/>
	<arg name="data" default="--size 8x6 --square 0.2"/>

	<include file="$(file bender_calibrate)/launch/calibrator.launch">
		<arg name="image" default="$(arg image)"/>
		<arg name="camera" default="$(arg camera)"/>
		<arg name="data" default="$(arg data)"/>
	</include>

	

</launch>