<launch>

	<!-- Calibration for ASUS head rgb camera-->

	<!-- ASUS head launch -->
	<arg name="calibrated" value="false"/>

	<include file="$(find bender_sensors)/launch/rgbd/rgbd_head.launch">
		<arg name="calibrated" 	value="$(arg calibrated)"/>
	</include>

	<node name="cameracalibrator" pkg="bender_calibrate" type="cameracalibrator.py">
		<!-- rosrun needed args for calibration:
		size is the number of inner corners in the chessboard,
		square is the length of a single square in meters 
		-->
		<param name="--size" value="8x6"/>
		<param name="--square" value="0.2"/>

		<!-- image corresponds to the topic where the camera is publishing the raw image data,
		camera is the name the program will have for the camera -->
		<param name="image" value="bender/sensors/rgbd_head/rgb/image_raw"/>
		<param name="camera" value="bender/sensors/rgbd_head/rgb"/>
	</node>

</launch>