<launch>

	<arg name="image" default="bender/sensors/rgbd_head/rgb/image_raw"/>
	<arg name="camera" default="bender/sensors/rgbd_head/rgb"/>
	<arg name="data" default="--size 8x6 --square 0.2"/>

	<node name="cameracalibrator" pkg="bender_calibrate" type="cameracalibrator.py" args="$(arg data)">

		<!-- image corresponds to the topic where the camera is publishing the raw image data,
		camera is the name the program will have for the camera -->
		<param name="image" value="$(arg image)"/>
		<param name="camera" value="$(arg camera)"/>

	</node>
</launch>