# This udev rules setups the hokuyo laser scan device names.
# It is used for the bender robot.
#
# The name configured as following: /dev/sensors/hokuyo_<id>
# where <id> corresponds to the device id obtained from
# $ rosrun urg_node getID /dev/.....
#
#
# This version uses urg_node (previously hokuyo_node).
# It aims to be ROS distro independent, as only requires:
# - urg_node ROS pkg to be installed
# - the getID node exe from urg_node to be copied
#   or linked to /opt/bender/udev/getID

KERNEL=="ttyACM[0-9]*", ACTION=="add", ATTRS{idVendor}=="15d1", MODE="666", GROUP="dialout", PROGRAM="/opt/bender/udev/getID %N q", SYMLINK+="bender/sensors/hokuyo_%c"

# for testing append the following to the previous rule:
# , RUN+="/bin/bash -c 'mkdir -p /opt/bender/udev/; touch /opt/bender/udev/hokuyo.log; echo == >> /opt/bender/udev/hokuyo.log; env >> /opt/bender/udev/hokuyo.log'"
