<launch>

	<!-- avaiable devices
	  You can see the list with the available device id's on
	'install/depth_devices.sh' (in this pkg).
	 -->

	<!-- Openni for head asus -->
	<include file="$(find bender_sensors)/launch/rgbd/asus/asus.launch">
		<arg name="asus_name"   value="rgbd_waist"              />
		<arg name="device_id"   value="$(env BENDER_RGBD_WAIST_ID)"/>
		<arg name="publish_tf"  value="false"/>
	</include>

</launch>
