# this udev rules setups the hokuyo laser scan device names.
# it is used for the bender robot.
#
# the name configured as following: /dev/sensors/hokuyo_<id>
# where <id> corresponds to the device id obtained from
# $ rosrun urg_node getID /dev/.....
#

# old version
# KERNEL=="ttyACM[0-9]*", ACTION=="add", ATTRS{idVendor}=="15d1", MODE="0666", GROUP="dialout", PROGRAM="/opt/ros/indigo/env.sh rosrun hokuyo_node getID %N q", SYMLINK+="sensors/hokuyo_%c"

# new version, uses urg_node
# it aims to be ROS distro independent
# requires:
# - urg_node ROS pkg to be installed
# - the getID node exe from urg_node to be copied
#   or linked to /opt/bender/udev/getID
SUBSYSTEMS=="usb", KERNEL=="ttyACM[0-9]*", ACTION=="add", ATTRS{idVendor}=="15d1", ATTRS{idProduct}=="0000", MODE="666", PROGRAM="/opt/bender/udev/getID /dev/%k q", SYMLINK+="sensors/hokuyo_%c", GROUP="dialout"