# Udev rules created for proper setting of the 2D cameras for the robot bender

## Logitech camera
# ADD camera 
ACTION=="add", SUBSYSTEMS=="usb", KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", ATTR{name}=="UVC Camera (046d:0825)", RUN+="/opt/bender/udev/camera.sh"
 
# REMOVE camera
ACTION=="remove", ENV{DEVTYPE}=="usb_device", ENV{ID_VENDOR}=="046d", ENV{ID_MODEL_FROM_DATABASE}=="Webcam C270", RUN+="/opt/bender/udev/camera.sh"

 
## thermal camera
#SUBSYSTEMS=="usb", KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", ATTR{name}=="stk1160", ATTRS{manufacturer}=="Syntek Semiconductor", NAME="video7"
