<launch>
    <!-- RQT Battery perspective -->
    <node name="bender_dashboard" pkg="rqt_gui" type="rqt_gui" output="screen" args="--perspective-file $(find uchile_rqt_batteries)/config/bender_dashboard.perspective" />

    <node name="test_brazos" pkg="uchile_rqt_batteries" type="motor_state_test.py">
    </node>
    <node name="notebook_batt1" pkg="uchile_rqt_batteries" type="notebook_battery_pub.py">
        <param name="serial_number" value="bat1" />
    </node>
    <node name="left_arm_batt" pkg="uchile_rqt_batteries" type="dxl_battery_pub.py">
        <param name="serial_number" value="left_arm" />
    </node>
    <node name="right_arm_batt" pkg="uchile_rqt_batteries" type="dxl_battery_pub.py">
        <param name="serial_number" value="right_arm" />
    </node>
    

</launch>