<launch>


  <group ns="bender">
    <!-- Head low lovel config file -->
    <rosparam file="$(find bender_head)/config/head_controller.yaml" command="load"/>
    <!-- Head high lovel config file -->
    <rosparam file="$(find bender_head)/config/eye_colors.yaml" command="load"/>
    <rosparam file="$(find bender_head)/config/emotions.yaml" command="load"/>
    <rosparam file="$(find bender_head)/config/dynamic_emotions.yaml" command="load"/>

    <!-- Head low lovel controller spawner -->
    <node name="head_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
        args="--manager=test_port_manager
              --port=test_port
              head_controller"
        output="screen"/>
  </group>

</launch>