<launch>

	<!-- avaiable devices
	  You can see the list with the available device id's on
	'install/depth_devices.sh' (in this pkg).
	 -->

	<arg name="device" value="$(env BENDER_RGBD_DEVICE_HEAD)"/>
	<arg name="calibrated" default="true"/>
	
	<include file="$(find bender_sensors)/launch/rgbd/$(arg device)/$(arg device)_head.launch">
		<arg name="calibrated" value="$(arg calibrated)"/>
	</include>

	<!-- Turn on HD settings -->
	<node name="dynparam_rgbd_hd" pkg="dynamic_reconfigure" type="dynparam" args="set /bender/sensors/rgbd_head/driver color_mode 1 " />

	<!-- This reduces the frame rate from 30Hz to 10Hz (from 150MB/s to 50MB/s bandwidth) -->
	<node name="dynparam_rgbd_hz" pkg="dynamic_reconfigure" type="dynparam" args="set /bender/sensors/rgbd_head/driver data_skip 2 " />

	<node name="dynparam_rgbd_z_offset" pkg="dynamic_reconfigure" type="dynparam" args="set /bender/sensors/rgbd_head/driver z_offset_mm 81 " />

</launch>
