<launch> 
  <group ns="bender">
    <!-- neck low lovel config file -->
    <rosparam file="$(find bender_head)/config/head_controller.yaml" command="load"/>
    <!-- neck low lovel controller spawner -->
    <node name="head_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
        args="--manager=r_port_manager
              --port=r_port
              head_yaw_joint_controller
              head_pitch_joint_controller"
        output="screen"/>

    <!-- Follow Joint Trajectory Action for light_head config file -->
    <rosparam file="$(find bender_head)/config/head_trajectory.yaml" command="load"/>
    <!-- Spawn Follow Joint Trajectory Action for light_head -->
    <node name="head_controller_spawner_meta" pkg="dynamixel_controllers" type="controller_spawner.py"
            args="--manager=r_port_manager
                  --type=meta
                  head_controller
                  head_yaw_joint_controller
                  head_pitch_joint_controller"
            output="screen"/>
  </group>

</launch>
