# Regla udev para los controladores de los motores Dynamixel
# Puerto de prueba (dxl_test)

SUBSYSTEMS=="usb", KERNEL=="ttyUSB[0-9]*", SUBSYSTEM=="tty",ATTRS{serial}=="A8006Esd", MODE="0660", GROUP="dialout", SYMLINK+="bender/dxl_test"
