<launch>

	<arg name="display" default="true"/>
	<arg name="camera_name" default="camera_right_eye"/>
	<arg name="video_device" default="/dev/video1"/>
	<arg name="framerate" default="30"/>
	<arg name="pixel_format" default="yuyv"/>

	<!-- Camera Topic -->
	<include file="$(find bender_sensors)/launch/camera/camera_topic.launch">
		<arg name="camera_name" value="$(arg camera_name)"/>
		<arg name="video_device" value="$(arg video_device)"/>
		<arg name="image_width" value="1280"/>
		<arg name="image_height" value="720"/>
		<arg name="framerate" value="$(arg framerate)"/>
		<arg name="pixel_format" value="$(arg pixel_format)"/>
		<arg name="display" value="$(arg display)"/>
	</include>

</launch>
