<launch>

	<arg name="display" default="true"/>
	<arg name="camera_name" default="camera_forehead"/>
	<arg name="video_device" default="/dev/video1"/>
	<arg name="framerate" default="30"/>


	<!-- Camera Topic -->
	<include file="$(find bender_sensors)/launch/camera/camera_topic.launch">
		<arg name="camera_name" value="$(arg camera_name)"/>
		<arg name="video_device" value="$(arg video_device)"/>
		<arg name="image_width" value="640"/>
		<arg name="image_height" value="480"/>
		<arg name="framerate" value="$(arg framerate)"/>
		<arg name="display" value="$(arg display)"/>
	</include>

</launch>