<launch>

	<!-- Calibration for ASUS head rgb camera-->

	<!-- ASUS head launch -->
	<arg name="calibrated" value="false"/>

	<include file="$(find bender_sensors)/launch/rgbd/rgbd_head.launch">
		<arg name="calibrated" 	value="$(arg calibrated)"/>
	</include>

	<arg name="image" default="bender/sensors/rgbd_head/rgb/image_raw"/>
	<arg name="camera" default="bender/sensors/rgbd_head/rgb"/>
	<arg name="square" default="0.2" />
	<arg name="size" default="9x6" />

	<include file="$(find bender_calibrate)/launch/calibrator.launch">
		<arg name="image" default="$(arg image)"/>
		<arg name="camera" default="$(arg camera)"/>
		<arg name="square" default="$(arg square)"/>
		<arg name="size" default="$(arg size)"/>
	</include>

	

</launch>